<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
    {{ range $index, $element := . }}
    <li>{{ $index }} - {{ $element }}</li>
    {{ end }}
</body>
</html>