<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
    {{index . 0}}
    {{index . 1}}
    {{index . 2}}
    {{index . 3}}
</body>
</html>