<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>

<p>Example #1</p>
{{range .}}
    {{.}}
{{end}}

<p>Example #2</p>
{{if .}}
    {{.}}
{{end}}

<p>Example #3</p>
{{range .}}
    {{if .Name}}
        {{.Name}}
    {{end}}
{{end}}

<p>Example #4</p>
{{range .}}
    {{if and .Name .Admin}}
        Name: {{.Name}}
        Motto: {{.Motto}}
        Admin: {{.Admin}}
    {{end}}
{{end}}



</body>
</html>