
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
    <h1>{{.Fall.Term}}</h1>
    {{range .Fall.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
    {{end}}

    <h1>{{.Spring.Term}}</h1>
    {{range .Fall.Courses}}
    {{.Number}} - {{.Name}} - {{.Units}}<br>
    {{end}}
</body>
</html>