<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
    {{index .Words 0}}
    {{index .Words 1}}
    {{index .Words 2}}
    {{index .Words 3}}

    {{.Lname}}
</body>
</html>